@charset "utf-8";
/* CSS Document */

body{
	margin:0;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
}
.icon_print{
	width:980px;
	height:39px;
	margin:5px auto;	
}
.bt_print{
	width:98px;
	height:39px;
	background:url(../images/icon_print.png) no-repeat;
	cursor:pointer;
	position:relative;
}
.bt_print:hover{
	background:url(../images/icon_print_hover.png) no-repeat;
}
.bt_save{
	width:98px;
	height:39px;
	background:url(../../images/icon_save.png) no-repeat;
	cursor:pointer;
	position:relative;
	margin-top:-39px;
	margin-left:95px;
}
.bt_save:hover{
	background:url(../../images/icon_save_hover.png) no-repeat;
}
.container{
	width:980px;
	min-height:600px;
	margin:0 auto;
}
.box_logo_photo{
	width:980px;
	height:140px;
}
.logo{
	width:145px;
	height:75px;
	float:left;
}
.title_application{
	width:650px;
	height:3q5px;
	float:left;
	font-size:18px;
	font-weight:bold;
	color:#333;
	text-align:center;
	margin-top:25px;
	margin-left:3px;
}
.photo{
	width:120px;
	height:120px;
	border:solid 1px #999;
	float:left;
	text-align:center;
	margin-left:55px;
}
.box_data_01{
	width:900px;
	height:50px;
	font-size:14px;
	color:#333;
	line-height:25px;
	float:left;
	margin-top:-38px;
}
.position{
	width:880px;
}
.salary{
	width:420px;
	float:left;
}
.start_date{
	width:440px;
	float:left;
}

/*Personal Information*/
.box_personal_information{
	width:980px;
	height:290px;
	font-size:14px;
	color:#333;
	line-height:30px;
}
.tab_header{
	width:980px;
	height:32px;
	background-color:#ccc;
	font-size:18px;
	color:#333;
	padding-top:3px;
	margin-bottom:8px;
}
.tab_header b{
	margin-left:10px;
	margin-top:15px;
}
.tab_header_02{
	width:980px;
	height:32px;
	background-color:#ccc;
	font-size:18px;
	color:#333;
}
.tab_header_02 b{
	margin-left:10px;
	margin-top:15px;
}
.name_surname{
	width:500px;
	float:left;
}
.date_of_birth{
	width:250px;
	float:left;
}
.age{
	width:150px;
	float:left;
}
.nationality{
	width:210px;
	float:left;
}
.citizenship{
	width:200px;
	float:left;
}
.religion{
	width:200px;
	float:left;
}
.weight{
	width:180px;
	float:left;
}
.height{
	width:180px;
	float:left;
}
.identity_card{
	width:400px;
	float:left;
}
.start_date_02{
	width:240px;
	float:left;
}
.expiration_date{
	width:220px;
	float:left;
}
.address{
	width:980px;
	float:left;
}
.address2{
	width:100px;
	float:left;
}
.address3{
	width:220px;
	float:left;
}
.address4{
	width:300px;
	float:left;
}
.family{
	width:280px;
	float:left;
}
.soldier {
	width:650px;
	float:left;
}
.importunate{
	width:520px;
	float:left;
}
.relation{
	width:220px;
	float:left;
}
.tel{
	width:220px;
	float:left;
}

/* Education*/
.box_education{
	width:980px;
	margin-bottom: 40px;
	font-size:14px;
	color:#333;
	line-height:30px;
}
.box_education_sub1{
	width:125px;
	height:35px;
	border:solid 1px #ccc;
	text-align:center;
}
.box_education_sub2{
	width:120px;
	height:35px;
	border-top:solid 1px #ccc;
	border-right:solid 1px #ccc;
	border-bottom:solid 1px #ccc;
	text-align:center;
	position:relative;
	margin-left:127px;
	margin-top:-37px;
}
.box_education_sub3{
	width:240px;
	height:35px;
	border-top:solid 1px #ccc;
	border-right:solid 1px #ccc;
	border-bottom:solid 1px #ccc;
	text-align:center;
	position:relative;
	margin-left:248px;
	margin-top:-37px;
}
.box_education_sub4{
	width:389px;
	height:35px;
	border-top:solid 1px #ccc;
	border-right:solid 1px #ccc;
	border-bottom:solid 1px #ccc;
	text-align:center;
	position:relative;
	margin-left:489px;
	margin-top:-37px;
}
.box_education_sub5{
	width:100px;
	height:35px;
	border-top:solid 1px #ccc;
	border-right:solid 1px #ccc;
	border-bottom:solid 1px #ccc;
	text-align:center;
	position:relative;
	margin-left:879px;
	margin-top:-37px;
}
.box_education_sub6{
	width:80px;
	height:35px;
	border-top:solid 1px #ccc;
	border-right:solid 1px #ccc;
	border-bottom:solid 1px #ccc;
	text-align:center;
}
.box_education_sub1_1{
	width:125px;
	height:35px;
	border-left:solid 1px #ccc;
	border-right:solid 1px #ccc;
	border-bottom:solid 1px #ccc;
}
.box_education_sub1_1 span{
	margin-left:10px;
}
.box_education_sub2_1{
	width:120px;
	height:35px;
	border-right:solid 1px #ccc;
	border-bottom:solid 1px #ccc;
	position:relative;
	margin-left:127px;
	margin-top:-37px;
}
.box_education_sub3_1{
	width:240px;
	height:35px;
	border-right:solid 1px #ccc;
	border-bottom:solid 1px #ccc;
	position:relative;
	margin-left:248px;
	margin-top:-36px;
}
.box_education_sub2_1 span{
	margin-left:7px;
}
.box_education_sub3_1 span{
	margin-left:7px;
}
.box_education_sub4_1{
	width:389px;
	height:35px;
	border-right:solid 1px #ccc;
	border-bottom:solid 1px #ccc;
	position:relative;
	margin-left:489px;
	margin-top:-36px;
}
.box_education_sub5_1{
	width:100px;
	height:35px;
	border-right:solid 1px #ccc;
	border-bottom:solid 1px #ccc;
	position:relative;
	margin-left:879px;
	margin-top:-37px;
}
.box_education_sub4_1 span{
	font-size: 12px;
    line-height: 14px;
}
.box_education_sub5_1 span{
	margin-left:7px;
}
.box_education_sub6_1{
	width:80px;
	height:35px;
	float:left;
	border-right:solid 1px #ccc;
	border-bottom:solid 1px #ccc;
}
.box_education_sub6_1 span{
	margin-left:7px;
}

/* Work experience*/
.box_work_experience{
	width:980px;
	font-size:14px;
	color:#333;
	line-height:30px;
	margin-bottom: 40px;
}
.box_work_experience:after{clear: both; content: ""; display: block; }
.box_work_experience_sub1{
	width:170px;
	height:35px;
	border-left:solid 1px #ccc;
	border-top:solid 1px #ccc;
	border-right:solid 1px #ccc;
	border-bottom:solid 1px #ccc;
	text-align:center;
}
.box_work_experience_sub2{
	width:85px;
	height:35px;
	border-left:solid 1px #ccc;
	border-bottom:solid 1px #ccc;
	text-align:center;
	float:left;
}
.box_work_experience_sub3{
	width:84px;
	height:35px;
	border-left:solid 1px #ccc;
	border-bottom:solid 1px #ccc;
	border-right:solid 1px #ccc;
	text-align:center;
	float:left;
}
.box_work_experience_sub4{
	width:280px;
	height:71px;
	border-top:solid 1px #ccc;
	border-bottom:solid 1px #ccc;
	border-right:solid 1px #ccc;
	float:left;
	margin-top:-37px;
	text-align:center;
}
.box_work_experience_sub5{
	width:280px;
	height:71px;
	border-top:solid 1px #ccc;
	border-bottom:solid 1px #ccc;
	border-right:solid 1px #ccc;
	float:left;
	margin-top:-37px;
	text-align:center;
}
.box_work_experience_sub4 span{
	position:absolute;
	margin-top:21px;
	margin-left:-65px;
	text-align:center;
}
.box_work_experience_sub5 span{
	position:absolute;
	margin-top:21px;
	margin-left:-25px;
	text-align:center;
}
.box_work_experience_sub6{
	width:120px;
	height:71px;
	border-top:solid 1px #ccc;
	border-bottom:solid 1px #ccc;
	border-right:solid 1px #ccc;
	float:left;
	margin-top:-37px;
	text-align:center;
}
.box_work_experience_sub7{
	width:124px;
	height:71px;
	border-top:solid 1px #ccc;
	border-bottom:solid 1px #ccc;
	border-right:solid 1px #ccc;
	float:left;
	margin-top:-37px;
	text-align:center;
}
.box_work_experience_sub6 span{
	position:absolute;
	margin-top:21px;
	margin-left:-42px;
	text-align:center;
}
.box_work_experience_sub7 span{
	position:absolute;
	margin-top:21px;
	margin-left:-42px;
	text-align:center;
}

.box_work_experience_sub1_1{
	width:170px;
	height:35px;
	border-left:solid 1px #ccc;
	border-right:solid 1px #ccc;
	border-bottom:solid 1px #ccc;
	text-align:center;
}
.box_work_experience_sub2_1{
	width:85px;
	height:35px;
	border-left:solid 1px #ccc;
	border-bottom:solid 1px #ccc;
	text-align:center;
	float:left;
}
.box_work_experience_sub3_1{
	width:84px;
	height:35px;
	border-left:solid 1px #ccc;
	border-bottom:solid 1px #ccc;
	border-right:solid 1px #ccc;
	text-align:center;
	float:left;
}
.box_work_experience_sub4_1{
	width:280px;
	height:35px;
	border-bottom:solid 1px #ccc;
	border-right:solid 1px #ccc;
	float:left;
}
.box_work_experience_sub5_1{
	width:280px;
	height:35px;
	border-bottom:solid 1px #ccc;
	border-right:solid 1px #ccc;
	float:left;
}
.box_work_experience_sub6_1{
	width:120px;
	height:35px;
	border-bottom:solid 1px #ccc;
	border-right:solid 1px #ccc;
	float:left;
}
.box_work_experience_sub7_1{
	width:124px;
	height:35px;
	border-bottom:solid 1px #ccc;
	border-right:solid 1px #ccc;
	float:left;
}
.box_work_experience_sub4_1 span ,.box_work_experience_sub5_1 span ,.box_work_experience_sub6_1 span ,.box_work_experience_sub7_1 span{
	font-size: 12px;
    line-height: 14px;
}

/* Skill*/
.box_skill{
	width:980px;
	font-size:14px;
	color:#333;
	line-height:30px;
}
.box_skill:after{clear: both; display: block; content: "";}
.box_skill_sub1{
	width:270px;
	height:35px;
	float:left;
	border:solid 1px #ccc;
}
.box_skill_sub2{
	width:707px;
	height:35px;
	float:left;
	border-top:solid 1px #ccc;
	border-right:solid 1px #ccc;
	border-bottom:solid 1px #ccc;
}
.box_skill_sub1 span{
	margin-left:8px;
}
.box_skill_sub2 span{
	font-size: 12px;
    line-height: 14px;
}
.box_skill_sub1_1{
	width:270px;
	height:35px;
	float:left;
	border-left:solid 1px #ccc;
	border-right:solid 1px #ccc;
	border-bottom:solid 1px #ccc;
}
.box_skill_sub2_1{
	width:707px;
	height:35px;
	float:left;
	border-right:solid 1px #ccc;
	border-bottom:solid 1px #ccc;
}
.box_skill_sub1_1 span ,.box_skill_sub2_1 span{
	margin-left:8px;
}

/* Remark*/
.box_remark{
	width:978px;
	height:90px;
	font-size:14px;
	color:#333;
	line-height:30px;
	border:solid 1px #ccc;
}
.remark1{
	width:600px;
	margin-left:8px;
	float:left;
}
.remark1_1{
	width:300px;
	margin-left:8px;
	float:left;
}
.remark2{
	width:600px;
	margin-left:8px;
	float:left;
}
.remark2_1{
	width:300px;
	margin-left:8px;
	float:left;
}
.remark3{
	width:600px;
	margin-left:8px;
	float:left;
}
.remark3_1{
	width:300px;
	margin-left:8px;
	float:left;
}

/*Signature*/
.box_signature{
	width:980px;
	height:90px;
	font-size:14px;
	color:#333;
	line-height:30px;
}
.box_signature_sub{
	width:500px;
	height:90px;
	float:right;
}
.signature ,.signature1{
	text-align:center;
}
.date{
	text-align:center;
}