@import 'style.css';
@import 'css/responsive.css';

$brand-color : #fdb814;

.header_area.sticky{
    background-color: $brand-color
}

.video-section{
    background: #fff;
}

#scrollUp{
    background-color: $brand-color
}

.wellcome_area{
    background: #fff url(img/bg-img/welcome-bg2.png);
}

.menu_area #nav .nav-link{
    color: #000;
}

.wellcome-heading > img{
    position: absolute;
    top: -80px;
    left: 30px;
}

.get-start-area{
    cursor: pointer;
}

.section-heading>h2, .single-special>h4, .special_description_content>h2,.single-feature>h5,.address-text>p>span, .email-text>p>span, .phone-text>p>span{
    color: $brand-color;
}

.line-shape, .line-shape-white{
    background-color: $brand-color;
}

.form-control::-webkit-input-placeholder {
    color: #726a84;
    opacity: 0.5;
}

.form-control:-ms-input-placeholder {
    color: #726a84;
    opacity: 0.5;
}

.form-control::-ms-input-placeholder {
    color: #726a84;
    opacity: 0.5;
}

.form-control::placeholder {
    color: #726a84;
    opacity: 0.5;
}

.btn.submit-btn{
    background-color: $brand-color;
    cursor: pointer;
}

.btn.submit-btn:hover{
    background-color: #000;
}

.video-area .video-play-btn a{
    background-color: $brand-color;
}

.video-area .video-play-btn a:hover{
    background-color: #000;
}

.cool_facts_area {
    background: $brand-color;
    background: -webkit-linear-gradient(to left, #efc675, $brand-color);
    background: -webkit-linear-gradient(right, #efc675, $brand-color);
    background: -webkit-gradient(linear, right top, left top, from(#efc675), to($brand-color));
    background: -o-linear-gradient(right, #efc675, $brand-color);
    background: linear-gradient(to left, #efc675, $brand-color);
}

.app-screenshots-area .owl-dot.active{
    background-color: $brand-color;
}

.colorlib-load {
    border-color: #dddddd #dddddd $brand-color;
}

footer{
    background-color: #000;

    .footer-menu ul li a{
        color: #fff;
        border-right: 2px solid #fff;
    }

    p{
        color: #fff;
    }

}

.footer-menu{
    margin-top: 30px;
}

.footer-social-icon{
    margin-bottom: 0;
}

.footer-text>h2{
    color: #fff;
}

.footer-social-icon>a>i{
    background:#9a9a9a;
}

.footer-social-icon>a>i:hover{
    background:$brand-color;
}

.single-icon>i,.single-feature>i{
    color: #000;
}

.app-download-btn a:hover{
    background:$brand-color;
}


@media (min-width: 992px) and (max-width: 1199px) {
}

@media (min-width: 768px) and (max-width: 991px) {
    #ca-navbar {
        background-color: $brand-color
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    #ca-navbar {
        background-color: $brand-color
    }
}