@font-face {
  font-family: 'adineuePRO-Light';
  src: url("../font/app/adineuePRO-Light.eot?#iefix") format("embedded-opentype"), url("../font/app/adineuePRO-Light.woff") format("woff"), url("../font/app/adineuePRO-Light.ttf") format("truetype"), url("../font/app/adineuePRO-Light.svg#adineuePRO-Light") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: 'adineuePRO-Light';
  color: #000; }

#checkout {
  width: 100%;
  position: relative; }

input[type=text], input[type=number] {
  width: 100%;
  border: 0 none;
  border-bottom: 1px solid #000;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px; }

.card_number {
  background: url("../add_card/icon_card.png") no-repeat scroll 7px 7px;
  padding-left: 50px; }

textarea:focus, input:focus {
  outline: none; }

*:focus {
  outline: none; }

.last-input {
  margin-bottom: 100px; }

#create_token {
  width: 70px;
  height: 70px;
  border: 0 none;
  background-image: url("../add_card/btn-submit.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  bottom: 0;
  right: 30px; }

#token_errors {
  color: #820000; }

.message {
  font-size: 20px;
  margin-top: 20px; }
  .message .ok {
    color: #21b384; }
  .message .error {
    color: #820000; }
