@import url(style.css);
@import url(css/responsive.css);
.header_area.sticky {
  background-color: #fdb814; }

.video-section {
  background: #fff; }

#scrollUp {
  background-color: #fdb814; }

.wellcome_area {
  background: #fff url(img/bg-img/welcome-bg2.png); }

.menu_area #nav .nav-link {
  color: #000; }

.wellcome-heading > img {
  position: absolute;
  top: -80px;
  left: 30px; }

.get-start-area {
  cursor: pointer; }

.section-heading > h2, .single-special > h4, .special_description_content > h2, .single-feature > h5, .address-text > p > span, .email-text > p > span, .phone-text > p > span {
  color: #fdb814; }

.line-shape, .line-shape-white {
  background-color: #fdb814; }

.form-control::-webkit-input-placeholder {
  color: #726a84;
  opacity: 0.5; }

.form-control:-ms-input-placeholder {
  color: #726a84;
  opacity: 0.5; }

.form-control::-ms-input-placeholder {
  color: #726a84;
  opacity: 0.5; }

.form-control:-ms-input-placeholder {
  color: #726a84;
  opacity: 0.5; }

.form-control::placeholder {
  color: #726a84;
  opacity: 0.5; }

.btn.submit-btn {
  background-color: #fdb814;
  cursor: pointer; }

.btn.submit-btn:hover {
  background-color: #000; }

.video-area .video-play-btn a {
  background-color: #fdb814; }

.video-area .video-play-btn a:hover {
  background-color: #000; }

.cool_facts_area {
  background: #fdb814;
  background: linear-gradient(to left, #efc675, #fdb814); }

.app-screenshots-area .owl-dot.active {
  background-color: #fdb814; }

.colorlib-load {
  border-color: #dddddd #dddddd #fdb814; }

footer {
  background-color: #000; }
  footer .footer-menu ul li a {
    color: #fff;
    border-right: 2px solid #fff; }
  footer p {
    color: #fff; }

.footer-menu {
  margin-top: 30px; }

.footer-social-icon {
  margin-bottom: 0; }

.footer-text > h2 {
  color: #fff; }

.footer-social-icon > a > i {
  background: #9a9a9a; }

.footer-social-icon > a > i:hover {
  background: #fdb814; }

.single-icon > i, .single-feature > i {
  color: #000; }

.app-download-btn a:hover {
  background: #fdb814; }

@media (min-width: 768px) and (max-width: 991px) {
  #ca-navbar {
    background-color: #fdb814; } }

@media (min-width: 320px) and (max-width: 767px) {
  #ca-navbar {
    background-color: #fdb814; } }
